@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "futura-pt", Arial, sans-serif;
}

body {
	background-color: #555555;
	font-family: "futura-pt", Arial, sans-serif;
	// padding-top: 85px;
}

	// MOBILE ----------------------------------

@media (min-width: 320px) {

	.top {
		height: 85px;
		width: 100%;
		background-color: #FFF;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
		transition: height 0.5s;
		// position: fixed;	
	}

	.logo {
		width: 60px;
		height: 60px;
		border: 1px solid #999999;
		background-image: url(../img/logo.svg);
		background-size: 80%;	
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
		transition: width 0.5s, height 0.5s, margin-left 0.5s; 
	}

	.hamburgerMenu {
		width: 90px;
		height: 35px;
		border: 1px solid #999999;
		line-height: 35px;
		text-align: center;	
		font-weight: bold;
		cursor: pointer;
	}

	.hamburgerMenuOpen {
		width: 100%;
		height: 500px;
		background: #FFFFFF;
		border-top: 1px solid #999999;
		display: none;
	}

	.menuItem {
		margin-top: 30px;
		text-align: center;
		font-size: 23px;
		font-weight: bold;
		line-height: 40px;
		text-transform: uppercase;
		margin-left: 10px;
		color: #161715;
		cursor: pointer;
	}

	.smallLineMenu {
		width: 300px;
		height: 1px;
		background-color: #999999;
		margin: 0 auto;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.socialIcons {
		display: none;
	}

	// POCZĄTEK SEKCJI Z CONTENTEM ----------------------------------//

	@keyframes onHoverIn { 
    	0%{background-position:0%}
   		100%{background-position:100%}
   	}

   	@keyframes onHoverOut { 
    	0%{background-position:100%}
   		100%{background-position:0%}
   	}

	.coverOnHover {
		animation-name: onHoverOut;
		animation-duration: 0.3s;
	}

	.cover {
		width: 100%;
		height: 310px;
		background: linear-gradient(135deg, #161715 0%,#161715 35%,#9cb4c4 60%,#eef1aa 100%,#eef1aa 100%);
		background-size: 300% 300%;
		display: flex;
		align-items: center;
		justify-content: space-around;
		color: white;
		text-align: center;
		margin-bottom: 1px;
		transition: height 0.5s ease-in-out;
	}

	.cover:hover {
		height: 400px;
		animation-name: onHoverIn;
		background-position: 100%;

		.title {
			color: #161715;
			transition: color 0.5s ease-in-out;
		}

		.description {
			color: #161715;
			transition: color 0.5s ease-in-out;
		}

		.smallLine {
			background-color: #191919;
			transition: color 0.5s ease-in-out;
		}
	}

	.title {
		font-size: 30px;
		font-weight: bold;
	}

	.smallLine {
		width: 60px;
		height: 1px;
		background-color: #5d4157;
		margin: 0 auto;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.description {
		font-size: 18px;
		color: #babbba;
	}
}

// STYLE DLA TABLET PION ----------------------------------

@media (min-width: 600px) {

	.top {
		height: 120px;
		transition: height 0.5s;
	}

	.logo {
		width: 75px;
		height: 75px;
		margin-left: 25px;
		transition: width 0.5s, height 0.5s, margin-left 0.5s; 
	}

	.hamburgerMenu {
		display: inline;;
	}

	.hamburgerMenuOpen {
		width: 100%;
	}

	.socialIcons {
		display: none;
		margin-right: 25px;
		font-size: 20px;

		.fa {
			margin-left: 15px;
		}		
	}
	
	.description {
		display: inline-block;
		width: 350px;
	}
}

// STYLE DLA TABLET POZIOM ----------------------------------

@media (min-width: 780px) {

	.coverContainer {
		width: 100%;
		height: calc(100vh - 120px);
		display: flex;
		flex-wrap: wrap;
	}

	.cover {
		width: calc(50% - 1px);
		height: calc(50vh - 60px);
		margin-bottom: 1px;
		margin-left: 1px;
		padding: 50px;
	}
	
	.description {
		display: inline-block;
		width: 300px;
	}

	.cover:hover {
		height:  calc(50vh - 60px);
	}
}

// STYLE DLA DESKTOP ----------------------------------

@media (min-width: 1200px) {

	.top {
		height: 170px;
		width: 100%;
	}

	.logo {
		width: 95px;
		height: 95px;
		margin-left: 25px;
		transition: width 0.5s, height 0.5s, margin-left 0.5s; 
	}

	.socialIcons {
		display: inline-block;
		margin-right: 25px;
		font-size: 20px;

		.fa {
			margin-left: 15px;
		}		
	}

	.hamburgerMenu {
		display: none;
	}

	.coverContainer {
		width: 100%;
		height: calc(100vh - 170px);
		display: flex;
		flex-wrap: nowrap;
	}

	.cover {
		width: calc(25% - 1px);
		height: calc(100vh - 170px);
		margin-bottom: 1px;
		margin-left: 1px;
		padding: 50px;
		transition: width 0.5s ease-in-out;
	}

	.description {
		display: inline-block;
		width: 300px;
	}	

	.cover:hover {
		
		width: 30%;
		height: calc(100vh - 170px);
		animation-name: onHoverIn;
		background-position: 100%;

		.description {
			color: #161715;
			display: inline-block;
			width: 300px;
			transition: color 0.5s ease-in-out;
		}
	}
}